body {
  margin: 0;
  font-family: 'Inter',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
  min-height: 100%;
}

*{
  font-family: 'Inter',sans-serif;
}
a{
  color: #000;
  display: inline-block;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 40px auto;
  min-height: 100%;
  overflow: hidden;
}

.container{
  padding: 45px;
}
//=====================================================================



//   CART ======================

.cart-item{
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.drawer-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cart-items{
  flex: 1 1 auto;
  overflow: auto;
  margin-bottom: 40px;
}

.cart-item-product-img{
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  flex: 0 0 70px;
  object-fit: cover;
  // img{
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: -5px;
  //   left: 0;
    
  // }
}

.cart-item-description{
  // max-width: 150px;
  margin-right: 12px;
  margin-left: 20px;
}

.cart-item-name{
  margin-bottom: 8px;
  line-height: 17px;
}
.cart-item-price{
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}



.remove-item-btn{
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
}

.total-price-box{
  display: flex;
  flex-direction: column;

  li{
    display: flex;

    div{
      flex: 1;

      border-bottom: 1px dashed #DFDFDF;
      margin: 0 5px;
      position: relative;
      top: -3px;
    }
  }

  span{
    font-size: 16px;
line-height: 19px;
  }

  .total-price{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
}

.make-order-btn{
  display: block;
  background: #9DD558;
  border-radius: 18px;
  padding: 18px 0;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  position: relative;
  margin-top: 24px;
  transition: all 0.2s ease-in-out;

  &:hover::after{
    transform: translateX(3px);
    transition: all 0.2s ease-in-out;
  }

  &::after{
    content: "";
    position: absolute;
    top: 20px;
    right: 33px;
    background-image: url('../public/img/icons/right-arrow.svg');
    background-repeat: no-repeat;
    width: 16px;
    height: 15px;
    transition: all 0.2s ease-in-out;
  }

  &:hover{
    background: #7fb839;
  }
  color: #FFFFFF;
}

//=====================================================================






// main ==========




